*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", Helvetica, Arial;
  font-size: 16px;
  background-color: #ffffff;
}
header{
    display: flex;
    flex-direction: column;
}
.text-center {
  text-align: center;
}
.container {
  width: 60%;
  margin: auto ;
  background-color: #F5F5F5;
}
.container > ul {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
}
.dropdown a {
  text-decoration: none;
  margin-left: 15px;
}
.dropdown [data-toggle="dropdown"] {
  position: relative;
  display: block;
  color: rgb(0, 0, 0);
  background: #F5F5F5;
  padding: 10px;
}
.dropdown .icon-arrow {
  position: absolute;
  display: block;
  font-size: 0.7em;
  color: #000000;
  top: 10px;
  right: 10px;
}
.dropdown .icon-arrow.open {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}
.dropdown .icon-arrow.close {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}
.dropdown .icon-arrow:before {
  content: "\25BC";
}
.dropdown .dropdown-menu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  margin-left: 50px;
  margin-bottom: 15px;
}
.dropdown .show,
.dropdown .hide {
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.dropdown .show {
  display: block;
  max-height: 9999px;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}
.dropdown .hide {
  max-height: 0;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  animation: hideAnimation 0.4s ease-out;
  -moz-animation: hideAnimation 0.4s ease-out;
  -moz-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}
@keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-moz-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
}
.h-drop {
    font-size: 0.8em;
    width: 40%;
}
.p-drop{
    font-size: 0.8em;
    width: 60%;
}
.content-dropbox{
  display: flex;
}
.content-header{
    margin: auto;
    margin-top: 25px;
    background-color: #F5F5F5;
    display: flex;
    width: 60%;
}
.gros-matou{
    display: flex;
}
.j-ai-pas-d-inspi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pipi .pipi-2{
    font-size: 0.9em;
    font-weight: 700;
}
main{
  margin-top: 50px;
    padding: auto;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
}
.content-main{
  padding: 0;

  width: 90%;
  margin-top: 35px;
  height: 700px;
  display: flex;
  justify-content: space-between;
}
.container-title-1{
  width: 49%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container-title-2{
  width: 49%;
  background-color: rgb(151, 42, 165)
}
.contain-aled-1{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 35%;
  background-color: rgb(255, 255, 255);
}
.contain-aled-2{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 61%;

}
.container-photo-1{
  display: block;
  background-color: rgb(34, 145, 71);
  width: 49%;
}
.content-img-1{
  position: relative;
  width: 100%;
  background-color: #ffffff;
  top: -4px;
}
.container-photo-2{
  width: 49%;
  background-color: rgb(34, 145, 71);
}
.truc-de-merde-en-dessous{
  padding-top: 20px;
  margin-left: 10px;
  font-size: 0.9em;
}
.p-de-merde{
  margin-top: 5px;
  margin-left: 15px;
  padding-bottom: 20px;
  font-size: 0.88em;
}