
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 250px 0px 20px 0px;
}
p{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
}
span{
    color: gray;
}
.yellow{
    background-color: yellow;
}
.fait-pas-chier{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    background-color: brown;
    height: 60px;
    width: 45px;
    margin-bottom: 10px;
}
.align-toi-salope{
    display: flex;
    justify-content: center;
    align-items: center;
}